<!doctype html>
<html ng-app="app">

<head>
<title>LocalFile</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script src="localfile.js"></script>
<script src="vigenere.js"></script>
<meta name="description" content="Save/read files using html5 local storage, by Michal Paszkiewicz">
<meta name="viewport" content="width=800, initial-scale=0.5">
<link rel="stylesheet" type="text/css" href="styles.css">

<!--codemirror libraries-->
<script src="codemirror/codemirror.js"></script>
<link href="codemirror/codemirror.css" rel="stylesheet" />
<script src="codemirror/javascript.js"></script>
<link href="codemirror/ambiance.css" rel="stylesheet" />


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52254492-1', 'michalpaszkiewicz.co.uk');
  ga('send', 'pageview');

</script>
</head>
<body ng-controller="fileCtrl">

          <div class="modal-box" ng-show="showFileModal">
            <div class="file-details">
              <div class="close" ng-click="close()">Close</div>
              <h2 class="file-name" contentEditable="false">{{currentFileName}}</h2>
              <div class="file-content-container">
                <!--<div class="file-content" onclick="contentEditable='true';">{{currentFileContent}}</div>-->
		<div id="code-container"></div>
              </div>
              <div class="delete" ng-click="remove()">Delete</div>
              <div class="encode" onclick='encrypt(true);'>Encode</div>
              <div class="decode" onclick='encrypt(false);'>Decode</div>
              <div class="run" onclick="eval(myCodeMirror.getValue());">Run</div>
              <div class="save" ng-click="save()">Save</div>
            </div>
          </div>
  
  <div class="main-container">
  <div id="panel1" class="panel">
    <div class="panel-box">
      <h1>LocalFile</h1>
    </div>
  </div>

  <div id="panel2" class="panel">
    <div class="panel-box">
      
      <div>
        <div class="file-box existing" ng-repeat="file in files" ng-click="open($index)">
          <img ng-src="{{file.pic}}" style="height: 100px; width: 100px;" />
          <span>{{file.name}} </span>

        </div>
        
        <div class="file-box add-file" ng-click="addFile()">
          <img src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/3d-glossy-green-orbs-icons-alphanumeric/103003-3d-glossy-green-orb-icon-alphanumeric-plus-sign.png" style="height: 100px; width: 100px;" />
          <span>Add file...</span>
        </div>
        	<div class="file-handler">
              		<input type="file" id="input" onchange="angular.element(this).scope().upload()"></input>
              		<button class="upload" ng-click="" onclick='$("#input").val("");'>Upload</button>
              	</div>
      </div>


    </div>
  </div>
  
    <div class="push"></div>
  </div>
<div class="footer">
  <div class="panel-box">
              <a href="http://www.michalpaszkiewicz.co.uk">Home</a>
          </div>
  </div>
  <script>
    //	console.log("%c" + "A website made by Michal Paszkiewicz", "color: aliceBlue; text-shadow: black 1px 1px 4px; font-size: 40px;")

		$('.file-name').on('click', function () { if($(this).prop("contentEditable") == "true"){ document.execCommand('selectAll', false, null);} });
	    
		var customCodeNode = document.getElementById("code-container");
        
		var myCodeMirror = CodeMirror(customCodeNode, {
            lineNumbers: true,
            theme: "ambiance"
        });
        
        var encrypt = function(isEncode)
        {
        	var key = prompt("Set key value");
        	
        	if(key != null)
        	{
        		myCodeMirror.setValue(vigenere(myCodeMirror.getValue(), key, isEncode));
        	}
        }
		
</script>
<script src="ui.js"></script>
</body>

</html>
